html {
    height: 100%;
    background-image: url(https://wallpapershome.com/images/pages/pic_v/184.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.resultsBody {
    background-image: linear-gradient(#c51b1bce, #600668bd, #c51b1bce);
    background-repeat: repeat;
}

p {
    display: none;
}

.display {
    display: block;
    color: rgb(235, 233, 233);
    font-size: 24px;
    text-align: center;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    background-color: #89299200;
    height: auto;
    width: 80%;
    height: 45px;
    border-radius: 2px;
}

.search {
    color: rgb(235, 235, 235);
}

Form {
    display: none;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

::placeholder {
    color: rgb(235, 235, 235);
}

#searchInput {
    background-color: #9229299d;
}

#maxDistance {
    background-color: #92293b9d;
}

#minDiff {
    background-color: #9229669d;
}

#maxDiff{
    background-color: #8929929d;
}
#submitButton {
    height: 45px;
    width: 300px;
    box-shadow: 3px, 3px, #66666655;
    background-color: #5729929d;
    color: rgb(235, 235, 235);
    border: 1px solid rgb(16, 26, 43);
    border-radius: 2px;
    margin: 15px;
    font-size: 24px;
    font-weight: lighter;
}

#submitButton:hover {
    background-color: #1b478877;
    cursor: pointer;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 30px;
    font-size: 36px;
    font-weight: bold;
    color: rgb(235, 235, 235);
}

.titleSpan {
    font-size: 20px;
}

.textInput {
    height: 45px;
    width: 300px;
    border: 1px solid rgb(16, 26, 43);
    border-radius: 2px;
    margin: 15px;
    font-size: 20px;
    background-color: #92294365;
    color: rgb(235, 235, 235);
    font-weight: lighter;
}

.results {
    width: 100%;
    background-color: #33165a41;
    color: #f8f8f8;
    font-family: 'Quicksand', sans-serif;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#resultsData {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

a {
    color: rgb(248, 157, 38);
}

a:hover {
    color: #6ce76c;
    cursor: pointer;
}

#name {
    font-family: 'Exo 2', sans-serif;
    font-size: 32px;
    line-height: 36px;
    font-weight: bold;
    text-align: left;
    margin-left: 10%;
}

.resultsList {
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;
}

button {
    display: none;
}

.newSearchButton {
    display: flex;
    position: relative;
    left: 15px;
    height: 45px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    background-color: #57299285;
    color: rgb(235, 235, 235);
    border: 1px solid rgb(16, 26, 43);
    border-radius: 2px;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
}

.newSearchButton:hover {
    background-color: #206ada77;
    cursor: pointer;
}

#continueButton {
    display: block;
    height: 45px;
    width: 200px;
    background-color: #57299285;
    color: rgb(235, 235, 235);
    border: 1px solid rgb(16, 26, 43);
    border-radius: 2px;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#continueButton:hover {
    background-color: #206ada77;
    cursor: pointer;
    width: 200px;
}

#descriptionHeader {
    padding: 10px;
    display: block;
    color: rgb(235, 233, 233);
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    margin-top: 12%;
    margin-left: auto;
    margin-right: auto;
    background-color: #9229669d;
    border: 1px solid rgb(16, 26, 43);
    border-radius: 2px;
    height: auto;
    width: 80%;
    border-radius: 2px;
}

#pageDescription {
    display: flex;
    color: rgb(235, 235, 235);
    font-size: 24px;
}

.hidden {
    display: none;
}

@media only screen and (min-width: 480px) {
    html {
        background-image: url(https://eloquentnature.files.wordpress.com/2018/11/a7riiiynpoct2018_dsc7580halfdomeface_screensaver.jpg?w=900);
    }

    .textInput {
        height: 60px;
        width: 400px;
        font-size: 26.66px;
    }

    #submitButton {
        height: 60px;
        width: 400px;
        font-size: 32px;
    }

    h1 {
        font-size: 48px;
    }

    .titleSpan {
        font-size: 26.66px;
    }

    .display {
        height: 60px;
        font-size: 26.66px;
    }

    #descriptionHeader {
        font-size: 26.66px;
    }
}

@media only screen and (min-width: 760px) {
    html {
        background-image: url(https://interfacelift.com/wallpaper/7yz4ma1/03801_glacierpointsunset_1024x1024.jpg);
    }

    .textInput {
        height: 75px;
        width: 500px;
        font-size: 33.33px;
    }

    #submitButton {
        height: 75px;
        width: 500px;
        font-size: 40px;
    }

    h1 {
        font-size: 60px;
    }

    .titleSpan {
        font-size: 33.33px;
    }

    .display {
        height: 75px;
        font-size: 33.33px;
    }

    #descriptionHeader {
        font-size: 33.33px;
    }
}

@media only screen and (min-width: 1224px) {
  html {
      background-image: url(https://cdn.shopify.com/s/files/1/2081/7471/articles/Fotolia_Half_Dome_XXL_1600x750.jpg?v=1507091452);
  }

  .textInput {
      height: 90px;
      width: 600px;
      font-size: 40px;
  }

  #submitButton {
      height: 90px;
      width: 600px;
      font-size: 48px;
  }

  h1 {
      font-size: 72px;
  }

  .titleSpan {
      font-size: 40px;
  }

  .display {
      height: 90px;
      font-size: 40px;
  }

  #name {
      font-size: 36px;
  }

  .resultsList {
      font-size: 20px;
  }

  #descriptionHeader {
      font-size: 40px;
  }
} 